* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color: rgb(206, 206, 206);
    gap: 40px;
}

.box {
    display: flex;
    flex-direction: column;
    min-height: 250px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 4px 8px 5px black;
}

.sistema-a {
    width: fit-content;
    min-width: 400px;
    gap: 20px;
    background-color: white;;
}

.sistema-b {
    width: fit-content;
    min-width: 400px;
    gap: 20px;
    background-color: white;
}

button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: blue;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: darkblue;
}

input {
    padding: 10px;
    border: 1px;
    border-radius: 8px;
    background-color: rgb(222, 222, 222);
}

#logWebhook {
    background-color: black;
    width: fit-content;
    color: white;
    padding: 10px;
    border-radius: 8px;
}